h1{
	color:blue;
	background-color:yellow;
	text-align:center;
	}
h2{
	color:white;
	background-color:green;
	padding:10px;
	border-radius:10px;
	}
p{
	color:black;
	background-color:light gray;
	padding:10px;
	border-radius:10px;
	}
.id_selector{
		color:red;
		bavf
		
